@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');
#content {
  max-width: 1600px;
  margin: 0 auto;
}
body {
    background-color: #fcfbfbf6;
    font-family:Roboto, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
  }
  header {
    background-color: #c4b3cd;
    display: grid;
    grid-template-columns: 150px auto;
  }
  .inner {
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
  }
  .logo {
    width: 80px;
  }
  #logo_link {
      padding-top: 5px;
      justify-self: center;
      align-self: center; 
  }
  nav {
    display: flex;
    justify-content: space-around;
  }
  nav a:hover {
    background-color: rgba(255, 255, 255, 0.981);
    color: #df75c3;
  }
  nav a {
    text-align: center;
    color: #32161f;
    text-decoration: none;
    padding: 35px;
  }
  .bigbox {
    display: grid;
    grid-template-columns: repeat(2, 35%);
    /* grid-template-rows: 25% 75%; */
  }
  .sidebox {
    grid-row: 2/3;
    /* grid-column: 1/2; */
    width: 55%;
    height: 100%;
    background-color: #906286;
    border: black solid;
  }
  .input1 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .input2 {
    grid-column: 3/4;
    grid-row: 1/2;
  }
    .input3 {
      /* grid-column: 4/5; */
      grid-row: 2/3;
    }
    .submit {
      background-color: #efe2e2;
      text-align: center;
      font-family: "cursive";
      border-radius: 700px;
      width: 100px;
    }
    .sumbit {
      text-decoration: none;
      text-align: center;
      color: #201e20;
    }
  .imgbox {
    display: grid;
    grid-column: 2/6;
    margin-left: -170px;
    margin-top: 25px;
    gap: 25px;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
  }
  .imgbox > img:hover {
    opacity: 0.6;
    transform: scale(1.1);
  }
  .imgbox > img {
    width: 100%;
    transition: 0.6s;
    box-shadow: 5px 5px 10px black;
  }
  footer h3 {
    color: lightcoral;
  }
  footer h3 a:hover {
    text-decoration: underline;
  }
  footer a {
    color: lightcoral;
    text-decoration: none;
  }
  footer a:hover {
    color: #32161f;
  }
  footer .social img{
    padding-top: 15px;
  }
  footer {
    background-color: #c4b3cd;
    padding: 25px 50px;
    margin-top: 200px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
  }