@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');
#content {
  max-width: 1600px;
  margin: 0 auto;
}
nav a {
  text-align: center;
  color: #32161f;
  text-decoration: none;
  padding: 35px;
}
#hero-msg h1 {
  text-align: center;
}
#hero-msg h4 {
  text-align: center;
}
.button-box {
  text-align: center;
}
main section {
  text-align: center;
}
#background {
  height: 725px;
  background-color: #d7d9d7;
}
body {
  background-color: #fcfbfb;
  font-family:Roboto, Helvetica, sans-serif;
  font-size: 22px;
  margin: 0;
  padding: 0;
}
header {
  background-color: #c9c5cb;
}
nav a:hover {
  background-color: white;
  color: #d9c2a3;
}
.book {
  background-color: #b48eae;
  color: #32161f;
  text-decoration: none;
  font-family:'Rock Salt', 'Roboto';
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}
.book:hover {
  background-color: #baacbd;
  color: #32161f;
}
.join {
  background-color: #b48eae;
  color: #32161f;
  text-decoration: none;
  font-family:Roboto, Helvetica, sans-serif; 
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}
.join:hover {
  background-color: #baacbd;
  color: #32161f;
}
.msg {
  background-color: #c9c5cb;
  line-height: 1.5em;
  padding: 35px;
}
footer {
  background-color: #c9c5cb;
  padding: 25px 50px;
  margin-top: 200px;
}
h4 {
  color: lightcoral;
}
.msg h2 {
  color: #32161f;
}
.msg p {
  color: #32161f;
  font-family:Roboto, Helvetica, sans-serif; 
  font-size: .8em;
  padding-bottom: 15px ;
}
footer h3 {
  color: lightcoral;
}
footer h3 a:hover {
  text-decoration: underline;
}
footer a {
  color: lightcoral;
  text-decoration: none;
}
footer a:hover {
  color: #32161f;
}
#hero-img {
  width: 100%;
}
.logo {
  width: 80px;
}
.icon {
  width: 80px;
  padding-top:10px;
}
.home-title {
  font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
  font-size: 2em;
  color: #32161f;
  margin-top: 10px;
}
h2 {
  margin: 0;
}
#logo_link {
  padding-top: 5px;
}
footer .social img{
  padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card  {
 margin: 200px 0;
}
.card-img {
  border: 10px solid #d9c2a3;
}
main section img {
  box-sizing: border-box;
}
.mountains {
  margin-top: 85px;
  margin-bottom: 105px;
  size: 50%;
}